body {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

#main {
    width: 100%;
    background: black;
    display: grid;
    height: 500px;
}

#todoapp {
    width: 500px;
    place-self: center;
}

span {
    background: red;
}

li {
    list-style: none;
}