body {
    margin: 0;
    padding: 0;
    color: white;
}

#main {
    width: 100%;
    background: black;
    display: grid;
    height: 500px;
}

#todoapp {
    width: 500px;
    place-self: center;
}

span {
    background: red;
}